Repository hmcts/jps-judicial-payment-service, pull requests merged in 2023-06, with the labels that each got.

#64 Update frontend service name
  charts/jps-judicial-payment-service/Chart.yaml
  charts/jps-judicial-payment-service/values.yaml
  src/functionalTest/resources/test-config.properties
  src/main/resources/application.yaml
Labels: ns:jps, prd:jps, rel:jps-judicial-payment-service-pr-64

#62 IJPS-37: Build new POST recordSittingRecords endpoint
  build.gradle
  src/functionalTest/resources/features/F-000 - Smoke tests/F-000.feature
  src/integrationTest/java/uk/gov/hmcts/reform/jps/controllers/RecordSittingRecordsControllerITest.java
  src/integrationTest/java/uk/gov/hmcts/reform/jps/controllers/SittingRecordControllerITest.java
  src/integrationTest/java/uk/gov/hmcts/reform/jps/repository/StatusHistoryRepositoryTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/jps/services/SittingRecoredServiceITest.java
  src/integrationTest/resources/savedSittingRecords.json
  src/integrationTest/resources/wiremock-stubs/refdata_location_services.json
  src/main/java/uk/gov/hmcts/reform/jps/Application.java
  src/main/java/uk/gov/hmcts/reform/jps/ResponseExceptionHandler.java
  src/main/java/uk/gov/hmcts/reform/jps/config/SecurityConfiguration.java
  src/main/java/uk/gov/hmcts/reform/jps/controllers/RecordSittingRecordsController.java
  src/main/java/uk/gov/hmcts/reform/jps/controllers/SittingRecordController.java
  src/main/java/uk/gov/hmcts/reform/jps/controllers/util/Utility.java
  src/main/java/uk/gov/hmcts/reform/jps/data/migration/FlywayNoOpStrategy.java
  src/main/java/uk/gov/hmcts/reform/jps/domain/SittingRecord.java
  src/main/java/uk/gov/hmcts/reform/jps/domain/StatusHistory.java
  src/main/java/uk/gov/hmcts/reform/jps/exceptions/InvalidLocationException.java
  src/main/java/uk/gov/hmcts/reform/jps/exceptions/MissingPathVariableException.java
  src/main/java/uk/gov/hmcts/reform/jps/exceptions/PendingMigrationScriptException.java
  src/main/java/uk/gov/hmcts/reform/jps/exceptions/UnknowValueException.java
  src/main/java/uk/gov/hmcts/reform/jps/model/DurationBoolean.java
  src/main/java/uk/gov/hmcts/reform/jps/model/ErrorCode.java
  src/main/java/uk/gov/hmcts/reform/jps/model/in/RecordSittingRecordRequest.java
  src/main/java/uk/gov/hmcts/reform/jps/model/in/RecordSittingRecordResponse.java
  src/main/java/uk/gov/hmcts/reform/jps/model/in/SittingRecordRequest.java
  src/main/java/uk/gov/hmcts/reform/jps/model/in/SittingRecordResponse.java
  src/main/java/uk/gov/hmcts/reform/jps/repository/StatusHistoryRepository.java
  src/main/java/uk/gov/hmcts/reform/jps/services/SittingRecordService.java
  src/main/java/uk/gov/hmcts/reform/jps/services/refdata/LocationService.java
  src/main/java/uk/gov/hmcts/reform/jps/services/refdata/LocationServiceClient.java
  src/main/java/uk/gov/hmcts/reform/jps/validator/DurationValidator.java
  src/main/java/uk/gov/hmcts/reform/jps/validator/ValidDuration.java
  src/main/resources/application.yaml
  src/main/resources/db/migration/V20230405_39__IJPS-39_sittingRecord.sql
  src/main/resources/db/migration/V20230515_52__IJPS-52_statusHistory.sql
  src/main/resources/db/migration/V20230605_37__IJPS-37_sittingRecord .sql
  src/test/java/uk/gov/hmcts/reform/jps/controllers/RecordSittingRecordsControllerTest.java
  src/test/java/uk/gov/hmcts/reform/jps/controllers/SittingRecordControllerTest.java
  src/test/java/uk/gov/hmcts/reform/jps/controllers/util/UtilityTest.java
  src/test/java/uk/gov/hmcts/reform/jps/data/migration/FlywayNoOpStrategyTest.java
  src/test/java/uk/gov/hmcts/reform/jps/services/SittingRecordServiceTest.java
  src/test/java/uk/gov/hmcts/reform/jps/services/refdata/LocationServiceClientTest.java
  src/test/java/uk/gov/hmcts/reform/jps/services/refdata/LocationServiceTest.java
  src/test/resources/recordBlankRequestError.json
  src/test/resources/recordMandatoryFieldsMissing.json
  src/test/resources/recordMandatoryFieldsMissingErrors.json
  src/test/resources/recordSittingRecords.json
  src/test/resources/searchMandatoryFieldError.json
Labels: ns:jps, prd:jps, rel:jps-judicial-payment-service-pr-62

#37 Functional tests for IJPS-37
  .gitignore
  Jenkinsfile_CNP
  README.md
  src/functionalTest/java/uk/gov/hmcts/reform/jps/StepDefinitions.java
  src/functionalTest/java/uk/gov/hmcts/reform/jps/config/Endpoints.java
  src/functionalTest/java/uk/gov/hmcts/reform/jps/config/TestVariables.java
  src/functionalTest/java/uk/gov/hmcts/reform/jps/testutils/RandomDateGenerator.java
  src/functionalTest/resources/features/F-000 - Smoke tests/F-000.feature
  src/functionalTest/resources/features/F-004 - Post sittingRecords endpoint/F-004.feature
  src/functionalTest/resources/features/F-005 - Post searchSittingRecords endpoint/F-005.feature
  src/functionalTest/resources/payloads/F-004_allFields.json
  src/functionalTest/resources/payloads/F-005_allFields.json
  src/functionalTest/resources/payloads/S-004.10.json
  src/functionalTest/resources/payloads/S-004.11.json
  src/functionalTest/resources/payloads/S-004.12.json
  src/functionalTest/resources/payloads/S-004.13.json
  src/functionalTest/resources/payloads/S-004.14.json
  src/functionalTest/resources/payloads/S-004.15.json
  src/functionalTest/resources/payloads/S-004.2.json
  src/functionalTest/resources/payloads/S-004.3.json
  src/functionalTest/resources/payloads/S-004.5.json
  src/functionalTest/resources/payloads/S-004.7.json
  src/functionalTest/resources/payloads/S-004.8.json
  src/functionalTest/resources/payloads/S-004.9.json
  src/functionalTest/resources/payloads/S-005.2.json
  src/functionalTest/resources/responses/getFeeFullResponse.json
  src/smokeTest/java/uk/gov/hmcts/reform/jps/controllers/SampleSmokeTest.java
Labels: ns:jps, prd:jps, rel:jps-judicial-payment-service-pr-37
