Repository hmcts/jps-judicial-payment-service, pull requests merged in 2023-09, with the labels that each got.

#81 IJPS-77: Update /submitSittingRecords/{hmctsServiceCode} to include CLOSED record
  config/owasp/suppressions.xml
  src/functionalTest/resources/features/F-006 - Post submitSittingRecords endpoint/F-006.feature
  src/functionalTest/resources/payloads/F-006_generic.json
  src/functionalTest/resources/payloads/S-004.2.json
  src/functionalTest/resources/payloads/S-006.12_createRecord.json
  src/functionalTest/resources/payloads/S-006.13_createRecords.json
  src/functionalTest/resources/payloads/S-006.14_createRecord.json
  src/functionalTest/resources/payloads/S-006.15_createRecord.json
  src/functionalTest/resources/payloads/S-006.16_createRecord.json
  src/functionalTest/resources/payloads/S-006.17_createRecord.json
  src/integrationTest/java/uk/gov/hmcts/reform/jps/BaseTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/jps/controllers/RecordSittingRecordsControllerITest.java
  src/integrationTest/java/uk/gov/hmcts/reform/jps/controllers/SittingRecordControllerITest.java
  src/integrationTest/java/uk/gov/hmcts/reform/jps/controllers/SubmitSittingRecordsControllerITest.java
  src/integrationTest/java/uk/gov/hmcts/reform/jps/repository/JohAttributesRepositoryTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/jps/repository/JudicialOfficeHolderRepositoryTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/jps/repository/SittingRecordRepositoryTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/jps/services/JudicialOfficeHolderServiceITest.java
  src/integrationTest/java/uk/gov/hmcts/reform/jps/services/SittingRecordServiceITest.java
  src/integrationTest/resources/sql/add_sitting_record_status_history.sql
  src/integrationTest/resources/sql/add_submit_sitting_record_status_history.sql
  src/integrationTest/resources/sql/delete_sitting_record_status_history.sql
  src/integrationTest/resources/sql/reset_database.sql
  src/main/java/uk/gov/hmcts/reform/jps/controllers/SubmitSittingRecordsController.java
  src/main/java/uk/gov/hmcts/reform/jps/domain/JohAttributes.java
  src/main/java/uk/gov/hmcts/reform/jps/domain/JohPayroll.java
  src/main/java/uk/gov/hmcts/reform/jps/domain/JudicialOfficeHolder.java
  src/main/java/uk/gov/hmcts/reform/jps/domain/SittingRecord.java
  src/main/java/uk/gov/hmcts/reform/jps/model/RecordSubmitFields.java
  src/main/java/uk/gov/hmcts/reform/jps/model/out/SubmitSittingRecordResponse.java
  src/main/java/uk/gov/hmcts/reform/jps/repository/JudicialOfficeHolderRepository.java
  src/main/java/uk/gov/hmcts/reform/jps/repository/SittingRecordRepository.java
  src/main/java/uk/gov/hmcts/reform/jps/repository/SittingRecordRepositorySearch.java
  src/main/java/uk/gov/hmcts/reform/jps/repository/SittingRecordRepositorySearchImpl.java
  src/main/java/uk/gov/hmcts/reform/jps/services/JudicialOfficeHolderService.java
  src/main/java/uk/gov/hmcts/reform/jps/services/SittingRecordService.java
  src/test/java/uk/gov/hmcts/reform/jps/controllers/RecordSittingRecordsControllerTest.java
  src/test/java/uk/gov/hmcts/reform/jps/controllers/SubmitSittingRecordsControllerTest.java
  src/test/java/uk/gov/hmcts/reform/jps/controllers/util/UtilityTest.java
  src/test/java/uk/gov/hmcts/reform/jps/repository/SittingRecordRepositorySearchImplTest.java
  src/test/java/uk/gov/hmcts/reform/jps/services/JudicialOfficeHolderServiceTest.java
  src/test/java/uk/gov/hmcts/reform/jps/services/SittingRecordServiceTest.java
  src/test/resources/submitSittingRecordsWithDynamicRegionId.json
Labels: ns:jps, prd:jps, rel:jps-judicial-payment-service-pr-81

#29 IJPS-21
  config/owasp/suppressions.xml
  src/integrationTest/java/uk/gov/hmcts/reform/jps/repository/FeeRepositoryTest.java
  src/main/java/uk/gov/hmcts/reform/jps/domain/Fee.java
  src/main/java/uk/gov/hmcts/reform/jps/repository/FeeRepository.java
  src/main/resources/db/migration/V20230314_21__IJPS-21_fee .sql
Labels: ns:hmc, prd:hmc, keep-helm, rel:hmc-judicial-payment-service-pr-29, ns:jps, prd:jps, rel:jps-judicial-payment-service-pr-29, enable_keep_helm

#97 IJPS-104 Functional tests
  src/functionalTest/resources/features/F-004 - Post recordSittingRecords endpoint/F-004.feature
  src/functionalTest/resources/payloads/S-004.29.json
  src/functionalTest/resources/payloads/S-004.30.json
  src/functionalTest/resources/payloads/S-004.31.json
  src/functionalTest/resources/payloads/S-004.32.json
  src/functionalTest/resources/payloads/S-004.33.json
  src/functionalTest/resources/payloads/S-004.34.json
  src/functionalTest/resources/payloads/S-004.35.json
Labels: ns:jps, prd:jps, rel:jps-judicial-payment-service-pr-97

#107 Ijps 105 ft v2
  src/functionalTest/java/uk/gov/hmcts/reform/jps/StepDefinitions.java
  src/functionalTest/resources/features/F-004 - Post recordSittingRecords endpoint/F-004.feature
  src/functionalTest/resources/features/F-005 - Post searchSittingRecords endpoint/F-005.feature
  src/functionalTest/resources/features/F-006 - Post submitSittingRecords endpoint/F-006.feature
  src/functionalTest/resources/payloads/setup/addServices.json
Labels: ns:jps, prd:jps, rel:jps-judicial-payment-service-pr-107

#95 IJPS-105: Update validation of hmctsServiceCode
  .github/renovate.json
  src/functionalTest/java/uk/gov/hmcts/reform/jps/StepDefinitions.java
  src/functionalTest/resources/features/F-004 - Post recordSittingRecords endpoint/F-004.feature
  src/functionalTest/resources/features/F-005 - Post searchSittingRecords endpoint/F-005.feature
  src/functionalTest/resources/features/F-006 - Post submitSittingRecords endpoint/F-006.feature
  src/functionalTest/resources/payloads/setup/addServices.json
  src/integrationTest/java/uk/gov/hmcts/reform/jps/BaseTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/jps/controllers/RecordSittingRecordsControllerITest.java
  src/integrationTest/java/uk/gov/hmcts/reform/jps/controllers/SittingRecordControllerITest.java
  src/integrationTest/java/uk/gov/hmcts/reform/jps/controllers/SubmitSittingRecordsControllerITest.java
  src/integrationTest/java/uk/gov/hmcts/reform/jps/repository/ServiceRepositoryTest.java
  src/integrationTest/resources/sql/insert_service_test_data.sql
  src/main/java/uk/gov/hmcts/reform/jps/controllers/RecordSittingRecordsController.java
  src/main/java/uk/gov/hmcts/reform/jps/controllers/SittingRecordController.java
  src/main/java/uk/gov/hmcts/reform/jps/controllers/SubmitSittingRecordsController.java
  src/main/java/uk/gov/hmcts/reform/jps/controllers/util/Utility.java
  src/main/java/uk/gov/hmcts/reform/jps/repository/ServiceRepository.java
  src/main/java/uk/gov/hmcts/reform/jps/services/ServiceService.java
  src/test/java/uk/gov/hmcts/reform/jps/controllers/RecordSittingRecordsControllerTest.java
  src/test/java/uk/gov/hmcts/reform/jps/controllers/SittingRecordControllerTest.java
  src/test/java/uk/gov/hmcts/reform/jps/controllers/SubmitSittingRecordsControllerTest.java
  src/test/java/uk/gov/hmcts/reform/jps/controllers/util/UtilityTest.java
  src/test/java/uk/gov/hmcts/reform/jps/repository/SittingRecordRepositorySearchImplTest.java
  src/test/java/uk/gov/hmcts/reform/jps/services/ServiceServiceTest.java
Labels: ns:jps, prd:jps, rel:jps-judicial-payment-service-pr-95

#108 IJPS-112: Create a new Database table - exported_file_data_header
  src/integrationTest/java/uk/gov/hmcts/reform/jps/repository/ExportedFileDataHeaderRepositoryTest.java
  src/integrationTest/resources/sql/reset_database.sql
  src/main/java/uk/gov/hmcts/reform/jps/domain/ExportedFileDataHeader.java
  src/main/java/uk/gov/hmcts/reform/jps/repository/ExportedFileDataHeaderRepository.java
  src/main/resources/db/migration/V20230927_112__IJPS-112_exportedFileDataHeader.sql
Labels: ns:jps, prd:jps, enable_keep_helm, rel:jps-judicial-payment-service-pr-108
