Repository hmcts/jps-judicial-payment-service, pull requests merged in 2023-08, with the labels that each got.

#73 IJPS-25 Create a new Database table - judicial_office_holder
  build.gradle
  src/functionalTest/java/uk/gov/hmcts/reform/jps/StepDefinitions.java
  src/functionalTest/resources/features/F-004 - Post sittingRecords endpoint/F-004.feature
  src/functionalTest/resources/payloads/F-004_allFields.json
  src/functionalTest/resources/payloads/F-005_allFields.json
  src/functionalTest/resources/payloads/S-004.11.json
  src/functionalTest/resources/payloads/S-004.12.json
  src/functionalTest/resources/payloads/S-004.13.json
  src/functionalTest/resources/payloads/S-004.14.json
  src/functionalTest/resources/payloads/S-004.15.json
  src/functionalTest/resources/payloads/S-004.2.json
  src/functionalTest/resources/payloads/S-004.3.json
  src/functionalTest/resources/payloads/S-004.7.json
  src/functionalTest/resources/payloads/S-004.8.json
  src/functionalTest/resources/payloads/S-004.9.json
  src/integrationTest/java/uk/gov/hmcts/reform/jps/AbstractTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/jps/controllers/RecordSittingRecordsControllerITest.java
  src/integrationTest/java/uk/gov/hmcts/reform/jps/controllers/SittingRecordControllerITest.java
  src/integrationTest/java/uk/gov/hmcts/reform/jps/repository/JudicialOfficeHolderRepositoryTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/jps/repository/SittingRecordRepositoryTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/jps/repository/StatusHistoryRepositoryTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/jps/services/JudicialOfficeHolderServiceITest.java
  src/integrationTest/java/uk/gov/hmcts/reform/jps/services/SittingRecordServiceITest.java
  src/integrationTest/resources/savedSittingRecords.json
  src/integrationTest/resources/searchSittingRecords.json
  src/integrationTest/resources/searchSittingRecordsInValidEnumData.json
  src/integrationTest/resources/searchSittingRecordsNoRegion.json
  src/main/java/uk/gov/hmcts/reform/jps/domain/JudicialOfficeHolder.java
  src/main/java/uk/gov/hmcts/reform/jps/domain/SittingRecord.java
  src/main/java/uk/gov/hmcts/reform/jps/model/StatusId.java
  src/main/java/uk/gov/hmcts/reform/jps/model/in/SittingRecordRequest.java
  src/main/java/uk/gov/hmcts/reform/jps/model/in/SittingRecordSearchRequest.java
  src/main/java/uk/gov/hmcts/reform/jps/model/out/SittingRecord.java
  src/main/java/uk/gov/hmcts/reform/jps/repository/JudicialOfficeHolderRepository.java
  src/main/java/uk/gov/hmcts/reform/jps/repository/SittingRecordRepositorySearchImpl.java
  src/main/java/uk/gov/hmcts/reform/jps/services/JudicialOfficeHolderService.java
  src/main/java/uk/gov/hmcts/reform/jps/services/SittingRecordService.java
  src/main/java/uk/gov/hmcts/reform/jps/services/refdata/LocationService.java
  src/main/resources/db/migration/V20230609_44__IJPS-44_sittingRecord.sql
  src/main/resources/db/migration/V20230705_25__IJPS-25_judicialOfficeHolder.sql
  src/main/resources/logback-test.xml
  src/test/java/uk/gov/hmcts/reform/jps/controllers/RecordSittingRecordsControllerTest.java
  src/test/java/uk/gov/hmcts/reform/jps/controllers/SittingRecordControllerTest.java
  src/test/java/uk/gov/hmcts/reform/jps/repository/SittingRecordRepositorySearchImplTest.java
  src/test/java/uk/gov/hmcts/reform/jps/services/JudicialOfficeHolderServiceTest.java
  src/test/java/uk/gov/hmcts/reform/jps/services/SittingRecordServiceTest.java
  src/test/java/uk/gov/hmcts/reform/jps/services/StatusHistoryServiceTest.java
  src/test/java/uk/gov/hmcts/reform/jps/services/refdata/JudicialUserDetailsServiceTest.java
  src/test/java/uk/gov/hmcts/reform/jps/services/refdata/LocationServiceTest.java
  src/test/resources/recordMandatoryFieldsMissingErrors.json
  src/test/resources/recordSittingRecords.json
  src/test/resources/searchSittingRecords.json
Labels: keep-helm, ns:jps, prd:jps, rel:jps-judicial-payment-service-pr-73

#84 IJPS-26 Create a new Database table - joh_payroll
  build.gradle
  src/integrationTest/java/uk/gov/hmcts/reform/jps/repository/JohPayrollRepositoryTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/jps/services/JohPayrollServiceITest.java
  src/integrationTest/java/uk/gov/hmcts/reform/jps/services/JudicialOfficeHolderServiceITest.java
  src/integrationTest/java/uk/gov/hmcts/reform/jps/services/SittingRecordServiceITest.java
  src/integrationTest/resources/sql/reset_database.sql
  src/main/java/uk/gov/hmcts/reform/jps/domain/JohPayroll.java
  src/main/java/uk/gov/hmcts/reform/jps/domain/JudicialOfficeHolder.java
  src/main/java/uk/gov/hmcts/reform/jps/domain/SittingRecord.java
  src/main/java/uk/gov/hmcts/reform/jps/domain/StatusHistory.java
  src/main/java/uk/gov/hmcts/reform/jps/repository/JohPayrollRepository.java
  src/main/java/uk/gov/hmcts/reform/jps/services/JohPayrollService.java
  src/main/java/uk/gov/hmcts/reform/jps/services/JudicialOfficeHolderService.java
  src/main/resources/db/migration/V20230711_26__IJPS-26_johPayroll.sql
  src/test/java/uk/gov/hmcts/reform/jps/services/JohPayrollServiceTest.java
  src/test/java/uk/gov/hmcts/reform/jps/services/JudicialOfficeHolderServiceTest.java
Labels: keep-helm, ns:jps, prd:jps, rel:jps-judicial-payment-service-pr-84

#86 IJPS-53 Functional tests for the DELETE /sittingRecords endpoint
  Jenkinsfile_CNP
  src/functionalTest/java/uk/gov/hmcts/reform/jps/StepDefinitions.java
  src/functionalTest/java/uk/gov/hmcts/reform/jps/config/Endpoints.java
  src/functionalTest/java/uk/gov/hmcts/reform/jps/config/TestVariables.java
  src/functionalTest/java/uk/gov/hmcts/reform/jps/testutils/PropertiesReader.java
  src/functionalTest/resources/features/F-003 - Delete sittingRecords endpoint/F-003.feature
  src/functionalTest/resources/features/F-004 - Post sittingRecords endpoint/F-004.feature
  src/functionalTest/resources/features/F-005 - Post searchSittingRecords endpoint/F-005.feature
  src/functionalTest/resources/payloads/F-003_CreateRecord.json
  src/functionalTest/resources/payloads/F-005_allFields.json
  src/functionalTest/resources/test-config.properties
Labels: ns:jps, prd:jps, rel:jps-judicial-payment-service-pr-86

#70 IJPS-49
  Jenkinsfile_CNP
  build.gradle
  config/owasp/suppressions.xml
  src/functionalTest/java/uk/gov/hmcts/reform/jps/StepDefinitions.java
  src/functionalTest/java/uk/gov/hmcts/reform/jps/config/Endpoints.java
  src/functionalTest/java/uk/gov/hmcts/reform/jps/config/TestVariables.java
  src/functionalTest/java/uk/gov/hmcts/reform/jps/testutils/PropertiesReader.java
  src/functionalTest/resources/features/F-003 - Delete sittingRecords endpoint/F-003.feature
  src/functionalTest/resources/features/F-004 - Post sittingRecords endpoint/F-004.feature
  src/functionalTest/resources/features/F-005 - Post searchSittingRecords endpoint/F-005.feature
  src/functionalTest/resources/payloads/F-003_CreateRecord.json
  src/functionalTest/resources/payloads/F-005_allFields.json
  src/functionalTest/resources/test-config.properties
  src/integrationTest/java/uk/gov/hmcts/reform/jps/BaseTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/jps/RestExceptionHandlerTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/jps/controllers/RecordSittingRecordsControllerITest.java
  src/integrationTest/java/uk/gov/hmcts/reform/jps/controllers/SittingRecordControllerITest.java
  src/integrationTest/java/uk/gov/hmcts/reform/jps/controllers/SittingRecordDeleteControllerITest.java
  src/integrationTest/java/uk/gov/hmcts/reform/jps/repository/SittingRecordRepositoryTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/jps/services/SittingRecordServiceITest.java
  src/integrationTest/java/uk/gov/hmcts/reform/jps/services/SittingRecoredServiceITest.java
  src/integrationTest/resources/sql/add_sitting_record_status_history.sql
  src/integrationTest/resources/sql/delete_sitting_record_status_history.sql
  src/main/java/uk/gov/hmcts/reform/jps/ResponseExceptionHandler.java
  src/main/java/uk/gov/hmcts/reform/jps/controllers/ControllerResponseMessage.java
  src/main/java/uk/gov/hmcts/reform/jps/controllers/SittingRecordController.java
  src/main/java/uk/gov/hmcts/reform/jps/controllers/SittingRecordDeleteController.java
  src/main/java/uk/gov/hmcts/reform/jps/controllers/util/Utility.java
  src/main/java/uk/gov/hmcts/reform/jps/data/SecurityUtils.java
  src/main/java/uk/gov/hmcts/reform/jps/domain/SittingRecord.java
  src/main/java/uk/gov/hmcts/reform/jps/exceptions/ConflictException.java
  src/main/java/uk/gov/hmcts/reform/jps/exceptions/ForbiddenException.java
  src/main/java/uk/gov/hmcts/reform/jps/exceptions/ResourceNotFoundException.java
  src/main/java/uk/gov/hmcts/reform/jps/repository/SittingRecordRepository.java
  src/main/java/uk/gov/hmcts/reform/jps/services/SittingRecordService.java
  src/test/java/uk/gov/hmcts/reform/jps/controllers/SittingRecordControllerTest.java
  src/test/java/uk/gov/hmcts/reform/jps/controllers/SittingRecordDeleteControllerTest.java
  src/test/java/uk/gov/hmcts/reform/jps/services/SittingRecordServiceTest.java
Labels: keep-helm, ns:jps, prd:jps, rel:jps-judicial-payment-service-pr-70

#89 IJPS-93
  src/functionalTest/java/uk/gov/hmcts/reform/jps/StepDefinitions.java
  src/functionalTest/java/uk/gov/hmcts/reform/jps/config/TestVariables.java
  src/functionalTest/resources/features/F-003 - Delete sittingRecords endpoint/F-003.feature
  src/functionalTest/resources/features/F-004 - Post recordSittingRecords endpoint/F-004.feature
  src/functionalTest/resources/features/F-005 - Post searchSittingRecords endpoint/F-005.feature
  src/functionalTest/resources/payloads/F-003_CreateRecord.json
  src/functionalTest/resources/payloads/F-003_searchRecord.json
  src/functionalTest/resources/payloads/F-005_allFields.json
Labels: ns:jps, prd:jps, rel:jps-judicial-payment-service-pr-89

#82 IJPS63: new Database table - joh_attributes
  src/integrationTest/java/uk/gov/hmcts/reform/jps/repository/JohAttributesRepositoryTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/jps/repository/JudicialOfficeHolderRepositoryTest.java
  src/main/java/uk/gov/hmcts/reform/jps/domain/JohAttributes.java
  src/main/java/uk/gov/hmcts/reform/jps/domain/JudicialOfficeHolder.java
  src/main/java/uk/gov/hmcts/reform/jps/domain/SittingRecord.java
  src/main/java/uk/gov/hmcts/reform/jps/repository/JohAttributesRepository.java
  src/main/resources/db/migration/V20230731_63__IJPS-63_joh_attributes.sql
  src/test/java/uk/gov/hmcts/reform/jps/services/refdata/JudicialUserDetailsServiceTest.java
Labels: keep-helm, ns:jps, prd:jps, rel:jps-judicial-payment-service-pr-82

#76 IJPS-85 Functional tests for the /submitSittingRecords/{hmctsServiceCode} endpoint
  README.md
  src/functionalTest/java/uk/gov/hmcts/reform/jps/StepDefinitions.java
  src/functionalTest/java/uk/gov/hmcts/reform/jps/config/Endpoints.java
  src/functionalTest/resources/features/F-000 - Smoke tests/F-000.feature
  src/functionalTest/resources/features/F-003 - Delete sittingRecords endpoint/F-003.feature
  src/functionalTest/resources/features/F-004 - Post recordSittingRecords endpoint/F-004.feature
  src/functionalTest/resources/features/F-005 - Post searchSittingRecords endpoint/F-005.feature
  src/functionalTest/resources/features/F-006 - Post submitSittingRecords endpoint/F-006.feature
  src/functionalTest/resources/payloads/F-003_createRecord.json
  src/functionalTest/resources/payloads/F-003_searchRecord.json
  src/functionalTest/resources/payloads/F-004_submitRecord.json
  src/functionalTest/resources/payloads/F-006_allFields.json
  src/functionalTest/resources/payloads/S-004.21.json
  src/functionalTest/resources/payloads/S-004.22.json
  src/functionalTest/resources/payloads/S-004.24.json
  src/functionalTest/resources/payloads/S-005.10.json
  src/functionalTest/resources/payloads/S-005.11.json
  src/functionalTest/resources/payloads/S-006.10.json
  src/functionalTest/resources/payloads/S-006.11.json
  src/functionalTest/resources/payloads/S-006.7.json
  src/functionalTest/resources/payloads/S-006.8.json
  src/functionalTest/resources/payloads/S-006.9.json
Labels: ns:jps, prd:jps, rel:jps-judicial-payment-service-pr-76

#72 Ijps 62: New POST submitSittingRecords
  README.md
  config/owasp/suppressions.xml
  src/functionalTest/java/uk/gov/hmcts/reform/jps/StepDefinitions.java
  src/functionalTest/java/uk/gov/hmcts/reform/jps/config/Endpoints.java
  src/functionalTest/resources/features/F-000 - Smoke tests/F-000.feature
  src/functionalTest/resources/features/F-003 - Delete sittingRecords endpoint/F-003.feature
  src/functionalTest/resources/features/F-004 - Post recordSittingRecords endpoint/F-004.feature
  src/functionalTest/resources/features/F-005 - Post searchSittingRecords endpoint/F-005.feature
  src/functionalTest/resources/features/F-006 - Post submitSittingRecords endpoint/F-006.feature
  src/functionalTest/resources/payloads/F-003_createRecord.json
  src/functionalTest/resources/payloads/F-003_searchRecord.json
  src/functionalTest/resources/payloads/F-004_submitRecord.json
  src/functionalTest/resources/payloads/F-006_allFields.json
  src/functionalTest/resources/payloads/S-004.21.json
  src/functionalTest/resources/payloads/S-004.22.json
  src/functionalTest/resources/payloads/S-004.24.json
  src/functionalTest/resources/payloads/S-005.10.json
  src/functionalTest/resources/payloads/S-005.11.json
  src/functionalTest/resources/payloads/S-006.10.json
  src/functionalTest/resources/payloads/S-006.11.json
  src/functionalTest/resources/payloads/S-006.7.json
  src/functionalTest/resources/payloads/S-006.8.json
  src/functionalTest/resources/payloads/S-006.9.json
  src/integrationTest/java/uk/gov/hmcts/reform/jps/controllers/SubmitSittingRecordsControllerITest.java
  src/integrationTest/java/uk/gov/hmcts/reform/jps/repository/SittingRecordRepositoryTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/jps/services/SittingRecoredServiceITest.java
  src/integrationTest/java/uk/gov/hmcts/reform/jps/services/StatusHistoryServiceITest.java
  src/integrationTest/resources/sql/add_sitting_record_status_history.sql
  src/main/java/uk/gov/hmcts/reform/jps/controllers/SittingRecordController.java
  src/main/java/uk/gov/hmcts/reform/jps/controllers/SubmitSittingRecordsController.java
  src/main/java/uk/gov/hmcts/reform/jps/model/in/SubmitSittingRecordRequest.java
  src/main/java/uk/gov/hmcts/reform/jps/model/out/SubmitSittingRecordResponse.java
  src/main/java/uk/gov/hmcts/reform/jps/repository/SittingRecordRepository.java
  src/main/java/uk/gov/hmcts/reform/jps/repository/SittingRecordRepositorySearch.java
  src/main/java/uk/gov/hmcts/reform/jps/repository/SittingRecordRepositorySearchImpl.java
  src/main/java/uk/gov/hmcts/reform/jps/services/SittingRecordService.java
  src/main/java/uk/gov/hmcts/reform/jps/services/StatusHistoryService.java
  src/test/java/uk/gov/hmcts/reform/jps/controllers/SubmitSittingRecordsControllerTest.java
  src/test/java/uk/gov/hmcts/reform/jps/repository/SittingRecordRepositorySearchImplTest.java
  src/test/java/uk/gov/hmcts/reform/jps/services/SittingRecordServiceTest.java
  src/test/resources/submitSittingRecords.json
Labels: keep-helm, ns:jps, prd:jps, rel:jps-judicial-payment-service-pr-72

#85 IJPS-92: Update response for duplicate recordSittingRecords
  src/functionalTest/java/uk/gov/hmcts/reform/jps/StepDefinitions.java
  src/functionalTest/resources/features/F-004 - Post recordSittingRecords endpoint/F-004.feature
  src/functionalTest/resources/payloads/S-004.2.json
  src/functionalTest/resources/payloads/S-004.24.json
  src/integrationTest/java/uk/gov/hmcts/reform/jps/controllers/RecordSittingRecordsControllerITest.java
  src/main/java/uk/gov/hmcts/reform/jps/components/EvaluateDuplicate.java
  src/main/java/uk/gov/hmcts/reform/jps/components/EvaluateMatchingDuration.java
  src/main/java/uk/gov/hmcts/reform/jps/components/EvaluateOverlapDuration.java
  src/main/java/uk/gov/hmcts/reform/jps/controllers/RecordSittingRecordsController.java
  src/main/java/uk/gov/hmcts/reform/jps/domain/StatusHistory.java
  src/main/java/uk/gov/hmcts/reform/jps/model/SittingRecordWrapper.java
  src/main/java/uk/gov/hmcts/reform/jps/model/out/SittingRecordResponse.java
  src/main/java/uk/gov/hmcts/reform/jps/services/DuplicateCheckerService.java
  src/main/java/uk/gov/hmcts/reform/jps/services/refdata/JudicialUserDetailsService.java
  src/test/java/uk/gov/hmcts/reform/jps/components/EvaluateMatchingDurationTest.java
  src/test/java/uk/gov/hmcts/reform/jps/components/EvaluateOverlapDurationTest.java
  src/test/java/uk/gov/hmcts/reform/jps/controllers/RecordSittingRecordsControllerTest.java
  src/test/java/uk/gov/hmcts/reform/jps/services/DuplicateCheckerServiceTest.java
  src/test/java/uk/gov/hmcts/reform/jps/services/SittingRecordServiceTest.java
  src/test/java/uk/gov/hmcts/reform/jps/services/refdata/JudicialUserDetailsServiceTest.java
Labels: ns:jps, prd:jps, rel:jps-judicial-payment-service-pr-85
