Repository hmcts/jps-judicial-payment-service, pull requests merged in 2023-05, with the labels that each got.

#42 IJPS-48: Java 17 upgrade
  Dockerfile
  build.gradle
  charts/jps-judicial-payment-service/Chart.yaml
  charts/jps-judicial-payment-service/values.preview.template.yaml
  charts/jps-judicial-payment-service/values.yaml
  infrastructure/app-insights.tf
  lib/applicationinsights.json
  src/integrationTest/java/uk/gov/hmcts/reform/jps/repository/SittingRecordRepositoryTest.java
  src/main/resources/application.yaml
Labels: add-or-update, ns:jps, prd:jps, rel:jps-judicial-payment-service-pr-42

#47 IJPS-48: Removed extra line
  src/integrationTest/java/uk/gov/hmcts/reform/jps/repository/SittingRecordRepositoryTest.java
Labels: ns:jps, prd:jps, rel:jps-judicial-payment-service-pr-47

#48 Update applicationinsights.json
  infrastructure/app-insights.tf
  lib/applicationinsights.json
Labels: add-or-update, ns:jps, prd:jps, rel:jps-judicial-payment-service-pr-48

#45 Ijps 6 auth
  Dockerfile
  README.md
  build.gradle
  charts/jps-judicial-payment-service/Chart.yaml
  charts/jps-judicial-payment-service/values.yaml
  config/owasp/suppressions.xml
  src/cftlib/bin/lease-service-token.sh
  src/cftlib/java/uk/gov/hmcts/reform/jps/CftLibConfig.java
  src/integrationTest/java/uk/gov/hmcts/reform/jps/BaseTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/jps/RestExceptionHandlerTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/jps/WiremockFixtures.java
  src/integrationTest/java/uk/gov/hmcts/reform/jps/config/RestTemplateConfigurationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/jps/config/SwaggerPublisherTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/jps/controllers/GetWelcomeTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/jps/repository/SittingRecordRepositoryTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/jps/wiremock/extensions/DynamicOAuthJwkSetResponseTransformer.java
  src/integrationTest/resources/application-itest.yaml
  src/integrationTest/resources/application.yaml
  src/integrationTest/resources/wiremock-stubs/idam_get_keys.json
  src/integrationTest/resources/wiremock-stubs/openid_config.json
  src/integrationTest/resources/wiremock-stubs/s2s_lease.json
  src/integrationTest/resources/wiremock-stubs/user_info.json
  src/main/java/uk/gov/hmcts/reform/jps/Application.java
  src/main/java/uk/gov/hmcts/reform/jps/config/AuthClientConfiguration.java
  src/main/java/uk/gov/hmcts/reform/jps/config/CacheConfiguration.java
  src/main/java/uk/gov/hmcts/reform/jps/config/RestTemplateConfiguration.java
  src/main/java/uk/gov/hmcts/reform/jps/config/SecurityConfiguration.java
  src/main/java/uk/gov/hmcts/reform/jps/controllers/TestController.java
  src/main/java/uk/gov/hmcts/reform/jps/data/SecurityUtils.java
  src/main/java/uk/gov/hmcts/reform/jps/exceptions/ApiError.java
  src/main/java/uk/gov/hmcts/reform/jps/exceptions/ApiException.java
  src/main/java/uk/gov/hmcts/reform/jps/exceptions/ResourceNotFoundException.java
  src/main/java/uk/gov/hmcts/reform/jps/exceptions/RestExceptionHandler.java
  src/main/java/uk/gov/hmcts/reform/jps/exceptions/ServiceException.java
  src/main/java/uk/gov/hmcts/reform/jps/exceptions/UnauthorisedException.java
  src/main/java/uk/gov/hmcts/reform/jps/security/JwtGrantedAuthoritiesConverter.java
  src/main/java/uk/gov/hmcts/reform/jps/security/idam/IdamRepository.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/jps/TestIdamConfiguration.java
  src/test/java/uk/gov/hmcts/reform/jps/data/SecurityUtilsTest.java
  src/test/java/uk/gov/hmcts/reform/jps/rsecheck/DemoUnitTest.java
  src/test/java/uk/gov/hmcts/reform/jps/security/JwtGrantedAuthoritiesConverterTest.java
  src/test/java/uk/gov/hmcts/reform/jps/utils/KeyGenerator.java
Labels: add-or-update, ns:jps, prd:jps, rel:jps-judicial-payment-service-pr-45

#55 IJPS-58 Token creation for the functional tests
  Jenkinsfile_CNP
  build.gradle
  charts/jps-judicial-payment-service/Chart.yaml
  charts/jps-judicial-payment-service/values.yaml
  src/functionalTest/java/uk/gov/hmcts/reform/jps/StepDefinitions.java
  src/functionalTest/java/uk/gov/hmcts/reform/jps/config/PropertiesReader.java
  src/functionalTest/java/uk/gov/hmcts/reform/jps/testutils/IdamApi.java
  src/functionalTest/java/uk/gov/hmcts/reform/jps/testutils/IdamTokenGenerator.java
  src/functionalTest/java/uk/gov/hmcts/reform/jps/testutils/ServiceAuthenticationGenerator.java
  src/functionalTest/resources/features/test.feature
  src/functionalTest/resources/test-config.properties
Labels: ns:jps, prd:jps, rel:jps-judicial-payment-service-pr-55

#56 DTSPO-13810 reschedule nightlybuilds to start at 8am
  Jenkinsfile_nightly
Labels: ns:jps, prd:jps, rel:jps-judicial-payment-service-pr-56
