Repository hmcts/jps-judicial-payment-service, pull requests merged in 2023-10, with the labels that each got.

#111 Ijps 119
  src/main/resources/logback-test.xml
Labels: ns:jps, prd:jps, rel:jps-judicial-payment-service-pr-111

#110 IJPS-114: Create a new Database table - exported_file_data
  src/integrationTest/java/uk/gov/hmcts/reform/jps/repository/ExportedFileDataHeaderRepositoryTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/jps/repository/ExportedFileDataRepositoryTest.java
  src/integrationTest/resources/sql/reset_database.sql
  src/main/java/uk/gov/hmcts/reform/jps/domain/ExportedFile.java
  src/main/java/uk/gov/hmcts/reform/jps/domain/ExportedFileData.java
  src/main/java/uk/gov/hmcts/reform/jps/repository/ExportedFileDataRepository.java
  src/main/resources/db/migration/V20230929_114__IJPS-114_exportedFileData.sql
Labels: ns:jps, prd:jps, enable_keep_helm, rel:jps-judicial-payment-service-pr-110

#112 IJPS-118: Create a new Database table - sitting_days
  src/integrationTest/java/uk/gov/hmcts/reform/jps/repository/SittingDaysRepositoryTest.java
  src/integrationTest/resources/sql/reset_database.sql
  src/main/java/uk/gov/hmcts/reform/jps/domain/SittingDays.java
  src/main/java/uk/gov/hmcts/reform/jps/repository/SittingDaysRepository.java
  src/main/resources/db/migration/V20231004_118__IJPS-118_sitting_days.sql
Labels: ns:jps, prd:jps, enable_keep_helm, rel:jps-judicial-payment-service-pr-112

#113 IJPS-124 - Recreated duplicate scenario
  src/functionalTest/java/uk/gov/hmcts/reform/jps/StepDefinitions.java
  src/functionalTest/resources/features/F-003 - Delete sittingRecords endpoint/F-003.feature
  src/functionalTest/resources/features/F-004 - Post recordSittingRecords endpoint/F-004.feature
  src/functionalTest/resources/features/F-005 - Post searchSittingRecords endpoint/F-005.feature
  src/functionalTest/resources/features/F-006 - Post submitSittingRecords endpoint/F-006.feature
  src/functionalTest/resources/payloads/S-004.38.json
  src/functionalTest/resources/payloads/S-004.38_existingRecord_1.json
  src/functionalTest/resources/payloads/S-004.38_existingRecord_2.json
Labels: ns:jps, prd:jps, rel:jps-judicial-payment-service-pr-113

#114 IJPS-117: Calculate Published sitting record count
  src/integrationTest/java/uk/gov/hmcts/reform/jps/BaseTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/jps/repository/SittingDaysRepositoryTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/jps/repository/SittingRecordRepositoryTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/jps/services/SittingRecordServiceITest.java
  src/integrationTest/resources/sql/insert_published_test_data.sql
  src/main/java/uk/gov/hmcts/reform/jps/model/FinancialYearRecords.java
  src/main/java/uk/gov/hmcts/reform/jps/model/PublishSittingRecordCount.java
  src/main/java/uk/gov/hmcts/reform/jps/repository/SittingDaysRepository.java
  src/main/java/uk/gov/hmcts/reform/jps/repository/SittingRecordRepository.java
  src/main/java/uk/gov/hmcts/reform/jps/services/SittingDaysService.java
  src/main/java/uk/gov/hmcts/reform/jps/services/SittingRecordService.java
  src/test/java/uk/gov/hmcts/reform/jps/services/SittingDaysServiceTest.java
  src/test/java/uk/gov/hmcts/reform/jps/services/SittingRecordServiceTest.java
Labels: ns:jps, prd:jps, rel:jps-judicial-payment-service-pr-114

#115 IJPS-127 Return Venue as part of errorRecord and UI to display the venue returned for existing sitting record
  charts/jps-judicial-payment-service/Chart.yaml
  config/owasp/suppressions.xml
  src/functionalTest/java/uk/gov/hmcts/reform/jps/StepDefinitions.java
  src/functionalTest/resources/features/F-004 - Post recordSittingRecords endpoint/F-004.feature
  src/integrationTest/java/uk/gov/hmcts/reform/jps/controllers/RecordSittingRecordsControllerITest.java
  src/integrationTest/java/uk/gov/hmcts/reform/jps/controllers/SittingRecordControllerITest.java
  src/integrationTest/resources/wiremock-stubs/refdata_location_services.json
  src/main/java/uk/gov/hmcts/reform/jps/controllers/RecordSittingRecordsController.java
  src/main/java/uk/gov/hmcts/reform/jps/model/SittingRecordWrapper.java
  src/main/java/uk/gov/hmcts/reform/jps/model/out/SittingRecordResponse.java
  src/main/java/uk/gov/hmcts/reform/jps/services/DuplicateCheckerService.java
  src/main/java/uk/gov/hmcts/reform/jps/services/SittingRecordService.java
  src/main/java/uk/gov/hmcts/reform/jps/services/refdata/LocationService.java
  src/test/java/uk/gov/hmcts/reform/jps/controllers/RecordSittingRecordsControllerTest.java
  src/test/java/uk/gov/hmcts/reform/jps/services/DuplicateCheckerServiceTest.java
  src/test/java/uk/gov/hmcts/reform/jps/services/SittingRecordServiceTest.java
  src/test/java/uk/gov/hmcts/reform/jps/services/refdata/LocationServiceTest.java
Labels: ns:jps, prd:jps, enable_keep_helm, rel:jps-judicial-payment-service-pr-115

#117 IJPS-121: Calculate Fee for a Medical member
  src/integrationTest/java/uk/gov/hmcts/reform/jps/repository/FeeRepositoryTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/jps/services/PublishSittingRecordServiceITest.java
  src/integrationTest/java/uk/gov/hmcts/reform/jps/services/SittingRecordServiceITest.java
  src/integrationTest/resources/sql/insert_fee.sql
  src/integrationTest/resources/sql/insert_published_test_data.sql
  src/main/java/uk/gov/hmcts/reform/jps/components/ApplicationProperties.java
  src/main/java/uk/gov/hmcts/reform/jps/model/FinancialYearRecords.java
  src/main/java/uk/gov/hmcts/reform/jps/repository/FeeRepository.java
  src/main/java/uk/gov/hmcts/reform/jps/services/FeeService.java
  src/main/java/uk/gov/hmcts/reform/jps/services/JudicialOfficeHolderService.java
  src/main/java/uk/gov/hmcts/reform/jps/services/PublishSittingRecordService.java
  src/main/java/uk/gov/hmcts/reform/jps/services/SittingRecordService.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/jps/components/ApplicationPropertiesTest.java
  src/test/java/uk/gov/hmcts/reform/jps/services/FeeServiceTest.java
  src/test/java/uk/gov/hmcts/reform/jps/services/PublishSittingRecordServiceTest.java
  src/test/java/uk/gov/hmcts/reform/jps/services/SittingRecordServiceTest.java
Labels: ns:jps, prd:jps, rel:jps-judicial-payment-service-pr-117
