Repository hmcts/jps-judicial-payment-service, pull requests merged in 2023-07, with the labels that each got.

#77 IJPS-88 Adding jps-JOH-admin role and user
  Jenkinsfile_CNP
  charts/jps-judicial-payment-service/Chart.yaml
  charts/jps-judicial-payment-service/values.yaml
  config/owasp/suppressions.xml
  src/cftlib/java/uk/gov/hmcts/reform/jps/CftLibConfig.java
Labels: ns:jps, prd:jps, rel:jps-judicial-payment-service-pr-77

#79 IJPS-65: new Database table - service
  src/integrationTest/java/uk/gov/hmcts/reform/jps/repository/ServiceRepositoryTest.java
  src/main/java/uk/gov/hmcts/reform/jps/domain/Service.java
  src/main/java/uk/gov/hmcts/reform/jps/repository/ServiceRepository.java
  src/main/resources/db/migration/V20230725_65__IJPS-65_service.sql
Labels: keep-helm, ns:jps, prd:jps, rel:jps-judicial-payment-service-pr-79

#80 IJPS-64: new Database table - court_venue
  src/integrationTest/java/uk/gov/hmcts/reform/jps/repository/CourtVenueRepositoryTest.java
  src/main/java/uk/gov/hmcts/reform/jps/domain/CourtVenue.java
  src/main/java/uk/gov/hmcts/reform/jps/repository/CourtVenueRepository.java
  src/main/resources/db/migration/V20230727_64__IJPS-64_courtVenue.sql
Labels: keep-helm, ns:jps, prd:jps, rel:jps-judicial-payment-service-pr-80
